<div class="bodyContainer">
    <div class="data">
        <!-- <h2>{{ displayTime }}</h2> -->
        <!-- <p>please wait the page is loading</p> -->
        <iframe src="https://giphy.com/embed/3oEjI6SIIHBdRxXI40" width="480" height="480" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe>
        <!-- <p><a href="https://giphy.com/gifs/mashable-3oEjI6SIIHBdRxXI40">via GIPHY</a></p> -->
        <!-- <div class="spinner-border" role="status"> -->

        <!-- <span class="sr-only">Loading...</span> -->
    </div>
</div>